<div class = "product_small">
    <div class = "product_holder">
        <%= link_to image_tag("goods/" + product.image), product %>
    </div>
    <div class = "product_info">
        <div class = "product_name"> 
            <%= link_to product.name, product %>
        </div>
        <div class = "product_type">
            <%= product.variety %>:
            <span class ="product_price">
                <%= number_to_currency(product.price, unit: "$") %>
            </span>
        </div>
        <div>
            <span>
                <% if current_user?(User.find(product.user_id)) %>
                    <%= link_to "edit", edit_product_path(product) %> | 
                    <%= link_to "delete", product, method: :delete,
                                                  data: { confirm: "You sure?" } %>
                <% end %>
            </span>
        </div>
    </div>
</div>
