<% provide(:title, "Edit this Product") %>

<h1><%= yield(:title) %></h1>


<div>
  <%= form_for(@product) do |f| %>
  
    <%= render 'shared/error_messages', target: @product %>

    <%= f.label :name %>
    <%= f.text_field :name %>
  
    <%= f.label :variety, "Variety" %>  
    <%= f.select(:variety, [['Single Card','Single Card'],['Card Set', 'Card Set']], selected: @product.variety) %>
  
    <%= f.label :price %>
    <%= f.text_field :price %>
  
    <%= f.label :desc, "Description" %>
    <%= f.text_area :desc, :cols => "40", :rows => "10" %>
  
    <%= f.label :image, "Image" %>
    <%= f.select(:image, create_image_list, selected: @product.image) %>
  
    
    <br>
    <br>
    <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
  <% end %>
</div>
