<%= provide(:title, 'New Product') %>
<p>Add a New Product</p>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@product) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :variety %>
      <%= f.text_field :variety %>

      <%= f.label :price %>
      <%= f.text_field :price %>

      <%= f.label :desc, "Description" %>
      <%= f.text_field :desc %>

      <%= f.label :image %>
      <%= f.text_field :image %>

      <%= f.label :thumbnail %>
      <%= f.text_field :thumbnail %>
      
      <br>
      <br>
      <%= f.submit "Create a product", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>