<% provide(:title, 'New Product') %>

<title><%= yield(:title) %></title>
<h2><%= yield(:title) %></h2>



<div>
  <%= form_for(@product) do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
  
    <%= f.label :variety, "variety" %>  
    <%= f.select(:variety, [['Single Card','Single Card'],['Card Set', 'Card Set']]) %>
  
    <%= f.label :price %>
    <%= f.text_field :price %>
  
    <%= f.label :desc, "Description" %>
    <%= f.text_area :desc, :cols => "40", :rows => "10" %>
  
    <%= f.label :image, "image" %>
    <%= f.select(:image, create_image_list) %>
  
    
    <br>
    <br>
    <%= f.submit "Create a product", class: "btn btn-large btn-primary" %>
  <% end %>
</div>
